$brown: #8E6E53;
$light-brown: #FFD8B1;
$red: red;
$light-red: #ffe9ee;
$yellow: #f9bc66;
$light-yellow: #fff7ea;

$border-color: rgba(211, 211, 211, 0.55);
$grey: #f6f7fb;
$secondary-text: #838282;
